.jsfx-textarea{
    --title-color: inherit;
    --color: #495057;
    --bdcolor: #ced4da;
    --focus-bdcolor: #aaa;
}

.jsfx-textarea textarea {
    color: var(--color);
    border: 1px solid var(--bdcolor);
}
.jsfx-textarea textarea:focus{
    color: var(--color);
    border: 1px solid var(--focus-bdcolor);
    box-shadow: none;
}

//counter
.jsfx-textarea [jsfx-role=body],
.jsfx-texteditor [jsfx-role=body] {
    display: block !important;
}

.jsfx-textarea .counter:not(:empty),
.jsfx-texteditor .counter:not(:empty) {
    padding: 0px 5px;
}
.jsfx-textarea .counter,
.jsfx-texteditor .counter {
    font-size: smaller;
    right: 0;
    color: #fff;
    background-color: var(--color-success);   
}

.jsfx-textarea .counter.error,
.jsfx-texteditor .counter.error {
    background-color: var(--color-danger) !important;
}
