$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$color-primary: #5867dd;
$color-secondary: #716aca;
$color-accent: #9816f4;
$color-metal: #95a5a6;
$color-light: #ecf0f1;
$color-dark: #34495e;
$color-success: #34bfa3;
$color-info: #36a3f7;
$color-warning: #ffb822;
$color-danger: #f4516c;

/* ColorMode */
$color-map: (
    primary:$color-primary,
    secondary:$color-secondary,
    accent:$color-accent,
    metal:$color-metal,
    light:$color-light,
    dark:$color-dark,
    success:$color-success,
    info:$color-info,
    warning:$color-warning,
    danger:$color-danger
);

// Size Mode
$input-heights: (
    hg: 38px,
    lg: 36px,
    md: 32px,
    sm: 30px,
    xs: 28px);
