h1 {
    font-size: 1.8em !important;
    font-weight: 500 !important;
}

h2 {
    font-size: 1.2em !important;
    font-weight: bold !important;
}

h3 {
    font-size: 1.1em !important;
    font-weight: bold !important;
}

h4 {
    font-size: 1em !important;
    font-weight: bold !important;
}

em {
    font-size: smaller !important;
}

.sidebar>h1 {
    font-size: 1.2rem !important;
    font-weight: 300 !important;
}

/* docsify theme bugfix */
td::before {
    content: none !important;
}

.sidebar-nav>ul>li:nth-child(3)>a::after,
.sidebar-nav>ul>li:nth-child(10)>a::after {
    color: #ff00ff;
    content: "  Update";
    font-style: italic;
    font-size: smaller;
    font-weight: 500;
} 

/* .sidebar-nav>ul>li:nth-child(12)>a::after {
    color: red;
    content: "  New";
    font-style: italic;
    font-size: smaller;
    font-weight: 500;
}  */